
.container{
    /* border: 1px solid red; */
    height: 200px;
    width: 50%;
    margin: auto;
    margin-top: 60px;
}

.container>h1{
    font-size: 52px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}